*.pyc
.idea

*__pycache__*
.DS_Store
*/__pycache__
*.egg-info
*.ipynb
*.c
.vscode
.vscode/*

*.py[oc]
*.tar
*.json
lid.176.bin
*.log
*.ipynb
**/*.egg-info
**/*build
**/*dist

gcp_key.json

fileEnv/*
fileEnv

.env
.env.prod
.env.dev

